<!DOCTYPE html>
<html>
  <head>
    <title>Box Breathing</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="boxBreathing">
    <div class="row">
      <div class='col-md-6 col-md-offset-3'>
        <h3>Box Breathing!</h3>
        <ui-view></ui-view>
      </div>
    </div>
  </body>

</html>
